<h1>New home</h1>

<%= render 'form' %>

<%= link_to 'Back', homes_path %>

<button id="check">报到</button>
<ul id="world-list">
</ul>
<script language="javascript">
    (function ($) {
        worldModel = Backbone.Model.extend({
            initialize: function () {
                //创建一个World的对象，拥有name属性
                this.bind('change:name', function () {
                    var newname = this.get('name');
                    alert('您改变了name的属性值为' + newname);
                });
                this.bind('error', function (model, error) {
                    console.log(error);
                })
            },
            validate: function (attributes) {
                if (attributes.name == '') {
                    return 'name属性值不能为空';
                }
            },
            defaults: {
                name: 'zhaojiangang'
            }
        });

        var beijing = new worldModel;

        beijing.set('name', 'seeyoup');

    })(jQuery);
</script>
