<!DOCTYPE html>
<html>
<head>
  <title>Tblog</title>
  <script src="/js/jquery-1.7.js"></script>
  <script src="/js/underscore.js"></script>
  <script src='/js/backbone.js'></script>
</head>
<body>

<%= yield %>

</body>
</html>
